*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.main-container{
    display: flex;
}
.icons-container{
    width: 25%;
    padding-left: 3rem;
    padding-top: 1rem;
}
.icon{
    display: flex;
    padding-bottom: 1rem;
    
}
.icon-img{
    padding-right: 2rem;
}
.icon img{
    height: auto;
    width: 1.3rem;
}
.tweet-button a{
    background-color: #1d9bf0;
    color: #ffffff;
    padding: 0.5 3rem;
}


.content-container{
    width: 45%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: fixed;
}
#home-icon{
    height: auto;
    width: 1.3rem;
}
.third-cxontainer{
    width: 30%;
}
@media screen and (min-width: 601px) and (max-width: 820px) {
    
}
@media screen and (max-width: 600px) {
    
}