*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    color: #ffffff;
}


.main-container{
    display: flex;
    text-decoration: none;

}
.icons-container{
    width: 30%;
    margin-left: 6rem;
    padding-top: 1rem;
    font-size: larger;
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
}
.icon{
    display: flex;
    padding-bottom: 1rem;
    
}
.icon-img{
    padding-right: 2rem;
}
.icon img{
    height: auto;
    width: 1.3rem;
}
.tweet-button button{
    background-color: #1d9bf0;
    color: #ffffff;
    margin-top: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 15px;
}
.jo-div{
    display: flex;
    margin-top: 13rem;
}
.jo-div img{
    border-radius: 50px;
}
.jo-icon img{
    height: auto;
    width: 1.1rem;
}


.content-container{
    width: 40%;
    border: solid 1px white;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: sticky;
    top: 0;
}
#home-icon{
    height: auto;
    width: 1.3rem;
}
.happening-content{

}
.happening-content-1{
    display: flex;
}
.happening-img img{
    height: auto;
    width: auto;
    border-radius: 50px;
}


.third-cxontainer{
    width: 30%;
    position: relative;
    
}
.search{
    background-color: #16181c;
    border-radius: 25px;
    display: flex;
    padding: 0.7rem 0;
    padding-right: 8rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 75%;
    position: sticky;
    top: 0;
    
}
.search img{
    height: auto;
    width: 1.3rem;
    background-color: #16181c;
    margin-left: 1rem;
    margin-right: 1rem;
}
.search-input{
    outline: 0;
    border: 0;
    background-color: #16181c;
    color: #71767b;
    font-size: medium;
    margin-top: 0.2rem;
}
.trend-container{
    background-color: #16181c;
    color: #71767b;
    border-radius: 15px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 75%;
    padding: 1rem 0.5rem 1.5rem;
}
.trends-container h2{
    
}
.trends{
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
    margin-top: 1rem;
    
}
.trends a{
    color: #71767b;
}
.trends-content{
    
}
.trends-content h4{
    color: #ffffff;
    padding-bottom: 0.3rem;
}
.trends-content p{
    font-size: 0.9rem;
}
.trends-icon{

}
.trends-icon img{
    height: auto;
    width: 1.2rem;
}
.trends-show {
    color: ;
    padding-top: 2rem;
}
.who-container{
    background-color: #16181c;
    color: #71767b;
    border-radius: 15px;
    margin-left: 1rem;
    margin-bottom: 2rem;
    width: 75%;
    padding: 1rem 1rem 1.5rem;
}
.who{
    display: flex;
    padding-top: 2rem;
}
.who-image{
    margin-right: 1rem;
    width: 15%;
}
.who-image img{
    border-radius: 50px;
    margin-top: -0.5rem;
}
.who-content{
    margin-right: 3rem;
    width: 40%;
}
.who-content-1{
    display: flex;
    margin-bottom: 0.5rem;
}
.who-content-1 p{
    color: #ffffff;
}
.who-content-1 img{
    height: auto;
    width: 1.1rem;
    margin-left: -0.5rem;
}
.who-content-3{
    display: flex;
}
.who-content-3 p{
    margin-left: 0.3rem;
}
.who-content-3 img{
    height: auto;
    width: 1rem;
}
.who-follow{
    width: 15%;
    margin-right: 1rem;
}
.who-follow button{
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
}
.terms{
    width: 70%;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    color: #71767b;
}
.terms a{
    padding-right: 1rem;
    font-size: 0.9rem;
    color: #71767b;
}
.terms img{
    height: auto;
    width: 1rem;
    margin-top: 0rem;
}
@media screen and (min-width: 601px) and (max-width: 820px) {
    
}
@media screen and (max-width: 600px) {
    
}